/* section {
    height: 500px;
    
} */

.hero {
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    flex:1;
    text-decoration: none;
}

h1 {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

picture {
    display: flex;
    list-style-type: none;
    justify-content: right;
}

Htlm {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    border: solid black 1px;
}

.container>div {
    flex:1;
}

body {
    background-color: #1c1d25;
}

.headers {
    text-align: center;
    color: pink;
}

.navBar {
    flex-direction: row;
    text-align: center;
}

li, a {
    color: pink;
}

li a:hover {
    color: white;
}

.roofPic {
    display: flex;
    justify-content: right;
}

.EXPpic {
    display: flex;
    justify-content: center;
}

.con {
    display: flex;
    justify-content: center;
    color: pink;
}
html {
    scroll-behavior: smooth;
}

.ABMtext {
    color: pink;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}